/* header */
h1{
    font-size: 75px;
    text-align: center;
    color: mintcream;
    background-color: #4848488e;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

html{
    background-image: url("https://images.pexels.com/photos/775201/pexels-photo-775201.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

}

/* main */
.container{
    border-radius: 15px;
    border: black 1px solid;
    padding: 1em;
    background-color: mediumseagreen;

}

h2{
    font-size: x-large;
    text-align: center;
}

.column{
    border: black 1px solid;
    padding: 1em;
    margin: 1em;
    border-radius: 15px;
}


.section{
    padding-top: 1em;
}

.column{
    background-color: mintcream;
}

#maxDistance{
    border-radius: 2px;
}

.button{
    width: 100%;
}

.name{
    text-align: center;
}


/* footer */
.footer{
    color: mintcream;
    background-color: transparent;
}

